<div class="hdr" fxLayout=row fxLayoutAlign="space-around center">
  <div>
    <img src="../../images/Parsign-Logo-White.jpg">
  </div>
  <div class="content" fxLayout=row fxLayoutAlign="space-around center">
    <div style="margin: 10px; font-weight: bold; font-family:'Montserrat', sans-serif;cursor:pointer">
      <mat-label>HOME</mat-label>
    </div>
    <div style="margin: 10x; font-weight: bold; font-family:'Montserrat', sans-serif;cursor:pointer">
      <mat-label>ABOUT US</mat-label>
    </div>
    <div style="margin: 10px; font-weight: bold; font-family:'Montserrat', sans-serif;cursor:pointer;">
      <mat-label>CONTACT</mat-label>
    </div>
  </div>
</div>