<div class="bg"  style="overflow-y: scroll" >
  <app-header></app-header>
  <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" style="height:100%;width:100%; padding:30px">
    <mat-label style="font-size: 60px; background-color: rgba(255, 255, 255, 0.5)">WELCOME TO </mat-label>
    <mat-label style="font-family:'Montserrat', sans-serif ;font-size: 70px; background-color: rgba(255, 255, 255, 0.5)"><strong>PARSIGN</strong> STUDIOS </mat-label>
  </div>
  <div style="height:100%;width:100%;background-color: white" fxLayout= "column">
    <div class="bgg" style="height:50%;" fxLayout="row" fxLayoutAlign= "center center">
      <p style="font-family:'Montserrat',sans-serif;font-size: 34px;font-weight: bold;color:white;background-color: rgba(0, 0, 0, 0.5)">Capturing the Essence of life</p>
    </div>
    <div style="background-color: white;height:50%;width:100%" fxLayout="row" fxLayoutAlign= "center center">
      <p style="font-size:25px;text-align: justify;width:60%">We have embraced with many beautiful moments and memories in our life. <i>How many of them will remain in our heart forever?</i> We professionals make your enduring moments to imperishable memories. We are specialized in Kids Photography, individual and family portraits, pre and post wedding shoots, modeling, food and product photographs. We have taken with at most care at your convenience at your place. Since, we are dealing with high profile clients, we respect their privacy and won't publish their pictures in our gallery unless they gave permission to upload in our portfolios.

      </p>
    </div>
    
  </div>
</div>
